---
import { getLocale } from "astro-i18n-aut";
import LinkItem from "./LinkItem.astro";
import ThemeButton from "./ThemeButton.astro";
import LanguageButton from "./LanguageButton.astro";
import textEN from "../i18n/en.json";
import textES from "../i18n/es.json";

let texts;

const locale = getLocale(Astro.url);
if (locale === "es") {
  texts = textES.header;
} else {
  texts = textEN.header;
}
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex bg-white/90 dark:bg-white/10 rounded-full border-white/85 dark:border-white/15 backdrop-blur gap-4 max-w-xl"
  >
    <LinkItem text={texts.home} href="#home" />
    <LinkItem text={texts.experience} href="#experience" />
    <LinkItem text={texts.projects} href="#projects" />
    <LinkItem text={texts.about} href="#about" />
    <LinkItem
      text={texts.contact}
      href="https://api.whatsapp.com/send?phone=573204255079"
      target
    />
    <ThemeButton />
    <LanguageButton />
  </nav>
</header>
